<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90965039479-scv20q6vfb89vudgi7rb8k7ecqgnetke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90965039479-scv20q6vfb89vudgi7rb8k7ecqgnetke</string>
	<key>API_KEY</key>
	<string>AIzaSyDfMKr-m98ZiAHuj75yCbiY7FaRsd4DylA</string>
	<key>GCM_SENDER_ID</key>
	<string>90965039479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KaiFu.RideTogether</string>
	<key>PROJECT_ID</key>
	<string>bikeproject-59c89</string>
	<key>STORAGE_BUCKET</key>
	<string>bikeproject-59c89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90965039479:ios:595f6c3342f44c0c9d6972</string>
</dict>
</plist>