<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443600024033-tgmp1v8u6r7s2l2sottjp6u3jf49c464.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443600024033-tgmp1v8u6r7s2l2sottjp6u3jf49c464</string>
	<key>API_KEY</key>
	<string>AIzaSyCtWKkeXUuYCxCKoXA0ZKvBHGRYAjgv1tE</string>
	<key>GCM_SENDER_ID</key>
	<string>443600024033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KaiFu.RideTogether</string>
	<key>PROJECT_ID</key>
	<string>bikeproject-d659c</string>
	<key>STORAGE_BUCKET</key>
	<string>bikeproject-d659c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443600024033:ios:19332f68f6da52195362a0</string>
</dict>
</plist>