<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>請允許 RideTogether Widget 每隔一個小時使用您的位置來更新可使用腳踏車</string>
	<key>Privacy - Location usage description</key>
	<string>請允許 RideTogether Widget  索取您的位置</string>
	<key>NSWidgetWantsLocation</key>
	<true/>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
</dict>
</plist>
